.section--index {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 4.37rem;
  overflow: hidden;

  .mobile-title {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    margin-left: 0.3125rem;
  }

  .index-img {
    position: relative;
    width: calc((100%)/4);
    padding: 0.3125rem;

    &.same-project-hovered {
      img {
        opacity: 0.4;
      }
    }

    &.disabled {
      pointer-events: none;
    }

    img {
      width: 100%;
      height: 100%;
      transition: opacity 200ms ease-in-out;
      backface-visibility: hidden;
      vertical-align: middle;
    }

    .project-name {
      position: absolute;
      top: 0.3125rem;
      left: 0.3125rem;
      opacity: 0;
      font-size: 1.75rem;
      line-height: 1.4rem;
    }

    &:hover {
      color: black;
      .project-name {
        opacity: 1;
      }
    }
  }
}

//tablet
@media (max-width: 768px) {
  .section--index {
    .index-img {
      width: calc((100%)/3);
    }
  }
}
