$translateYpx: 1000px;
$translateDuration: 2200ms;

nav {
  position: fixed;
  display: flex;
  width: 100%;
  font-size: 1.75rem;
  line-height: 2.2rem;
  z-index: 1;
  margin-left: 0.3125rem;

  .nav__item {
    width: calc((100% - 3.75rem)/4);
    margin-right: 0.625rem;
    opacity: 0;
    transform: translateY($translateYpx);

    a:hover {
      border-bottom: 2px solid black;
    }

    &.on-stage {
      transition: transform $translateDuration ease-in-out, opacity 800ms;
      opacity: 1;
      transform: translateY(0);

      &#nav-top {
      }

      &#nav-about {
        transition-delay: 500ms;
      }

      &#nav-index {
        transition-delay: 800ms;
      }
    }
  }
}

//tablet
@media (max-width: 768px) {
  nav {
    position: relative;

    .nav__item {
      width: auto;
    }

    .nav__item--about, .nav__item--index {
      display: none;
    }
  }
}
