nav {
  position: fixed;
  display: flex;
  width: 100%;
  font-size: 1.75rem;
  line-height: 2.2rem;
  z-index: 1;

  .nav__item {
    width: calc((100% - 3.75rem)/4);
    margin-right: 0.625rem;
  }

  .nav__item--about, .nav__item--index {
    &.active {
      a {
        border-bottom: 2px solid black;
      }
    }

    a:hover {
      border-bottom: 2px solid black;
    }
  }
}

//tablet
@media (max-width: 768px) {
  nav {
    position: relative;

    .nav__item {
      width: auto;
    }

    .nav__item--about, .nav__item--index {
      display: none;
    }
  }
}
